/react-query
/mcp-server
/bin
/.eslintcache
/.speakeasy/reports
/__tests__
/models
/models/errors
/types
/node_modules
/lib
/sdk
/funcs
/hooks
/index.*
/core.*
/cjs
/esm
/dist
/.tsbuildinfo
/.tshy
/.tshy-*
dist/
node_modules/
**/dist/
**/node_modules/
.aider*
**/.DS_Store
.cursor
.env
.venv